<div class="container">
  <div class="container-inner inner-default clearfix">
    <% movies.each do |movie| %>
      <div class="movie-box">
        <div class="image">
          <div class="img-wrap">
            <!--< if movie.image.present? %>
              < image_tag(movie.image , alt: movie.title) >-->
            <%= link_to movie_path(movie.id) do %>
              <%= link_to image_tag("#{@configuration.base_url}w154#{movie.poster_path}") if movie.poster_path %>
            <% end %>
            <!--< else %>
              <= link_to image_tag("no-image.png" , alt: movie.title), movie %>
            < end %>-->
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= movie.title %>
          </p>
        </div>
        <%= render 'movies/action' , movie: movie if logged_in? %>
      </div>
    <% end %>
  </div>
</div>