<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>誰かと映画を観に行こう</h1>
      <%= link_to 'miniccoを始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>


<%= render 'movies/list' , movies: @movies %>